.footer-top {
    border-bottom: 1px solid var(--color-light);
    background: linear-gradient(90deg, rgba(27, 59, 111, 0.6) 1%, rgba(52, 73, 94, 0.88) 46%, rgba(27, 59, 111, 0.77) 95%);
}

.footer-top-wrapp {
    padding: 50px 40px;
    border-left: 1px solid #c5c4c4;
}

.footer-title {
    font-weight: 800;
    font-size: 36px;
    line-height: 29px;
    text-align: center;
    margin-bottom: 50px;
}

.footer-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.footer-item {
    a {
        display: flex;
        align-items: center;
        gap: 8px;
    }

    span {
        font-weight: 700;
        font-size: clamp(16px, 1.562vw, 20px);
        line-height: 29px;
    }
}

.footer-bottom {
    background-color: var(--color-dark);
    padding: 5px 0;
}

.footer-copy {
    font-weight: 400;
    font-size: clamp(8px, 0.937vw, 12px);
    line-height: 18px;
    color: var(--color-light);
    text-align: end;
}


@media (max-width: 768px) {
    .footer-top-wrapp {
        padding: 30px 20px;
    }

    .footer-title {
        margin-top: 30px;
    }
}


@media (max-width: 580px) {
    .footer-bottom {
        padding: 2px 0;
    }
}